.grid-container{
    float: right;
    margin-top: 1vh;
    margin-right: 6vw;
    box-sizing: content-box;
    display: grid;
    height: 40vw;
    width: 40vw;
    border: 1px rgba(0, 0, 0, 0.404) solid;
}
.grid-container div{
    border: 1px rgba(0, 0, 0, 0.041) solid;
    background-color: rgba(255, 255, 255, 1);
    user-select: none;
}
.control-container button{
    border: 20px black;
    width: 250px;
    height: px;
}